{
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true
    },
    "extends": ["airbnb-base", "plugin:react/recommended"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": ["react"],
    "rules": {
        "indent": ["error", 4],
        "no-unused-vars": [
            "error",
            {
                "vars": "local",
                "args": "none"
            }
        ],
        "no-plusplus": "off",
        "no-underscore-dangle": "off",
        "react/self-closing-comp": "off",
        "no-restricted-syntax": ["off", "BinaryExpression[operator='in']"]
    }
}
